{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "forceAllTransforms": true,
        "targets": {
          "browsers": [
            "defaults"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
